#slider {
  grid-area: slider;
}
main {
  grid-area: main;
}

#slider h1 {
  color: #af915f;
  font-size: 2rem;
}
.grid-container-konferens {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  grid-template-areas:
    "header"
    "slider"
    "main"
    "footer";
}
.gallery-section {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery-section .gallery-box {
  margin: 10px;
  width: 300px;
}
.gallery-section .gallery-box img {
  max-width: 100%;
}
.container-section3-heading {
  font-size: 24px;
  color: #333;
  margin-top: 80px;
}
.container-section3-paragraph {
  color: #7e7e7e;
  line-height: 30px;
  text-align: justify;
  font-size: 20px;
  padding: 30px;
  margin-top: 60px;
}

.main-container3-list {
  display: flex;
}

.main-container3-heading {
  font-size: 28px;
  color: #af915f;
  background-color: #aeae99;
  padding-left: 20px;
}
.main-container3-item-image {
  width: 550px;
  height: auto;
}
.main-container3-item-button {
  background-color: #8ac5aa;
  padding: 20px 18px;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .container-section2 img{
    float: none;
    width: 100%;
  }
}
